@import "../style.sass/base.scss";

.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 70px;
    max-width: 1240px;
    border-radius: 25px;
    background: #f7f7f7;
    padding: 30px;
    margin: auto;
}

@media screen and (max-width: 851px) {
    .card-container {
        width: 100%;
        flex-wrap: wrap;
        background: none;
        padding: 0;
        gap: 25px;
    }
}
