@import "../style.sass//variables.scss";


.thumb {
    position: relative;
    width: 335px;
    max-height: 300px;
    min-height: 255px;
    

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 10px;
        filter: brightness(80%); 
    }

    p {
        position: absolute;
        display: flex;
        align-items: center;
        padding-left: 10px;
        bottom: 0;
        left: 0;
        width: 300px;
        height: 52px;
        color: $secondary-color;
        font-size: $medium-font-size;
        font-weight: 500;
    }
}


@media screen and (max-width: 851px) {
   .thumb{
    width: 100%;
   }
  }