@import "../style.sass/variables.scss";

.container-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: $primary-color;
    width: auto;
    height: 47px;
    border-radius: 5px;

    &.close {
        margin-bottom: 30px;
    }
}

.button {
    width: 20px;
    height: 15px;
    background-color: transparent;
    background-image: url("../../assets/Vector.png");
    background-position: center;
    border: none;
    cursor: pointer;
    transition: transform 0.3s ease;

    &.rotate {
        transform: rotate(180deg);
    }
}

h3 {
    color: $secondary-color;
}

.collapse {
    margin: auto;
    height: fit-content;
    max-width: 1023px;
    width: 100%;
}

.content {
    width: auto;
    height: fit-content;
    background: #f7f7f7;
    margin-bottom: 30px;
    border-radius: 5px;
    padding: 15px;
    color: $primary-color;
    font-weight: 400;

}

.about-collapse-content  {
    font-size: $large-font-size;
}

.accomodation-collapse-content  {
    font-size: $medium-font-size;
}

.about-collapse-title {
    font-size: $large-font-size;
    font-weight: 500;
}

.accomodation-collapse-title {
    font-size: $medium-font-size;
    font-weight: 500;
}

@media screen and (max-width: 851px) {
   
   .container-title{
    height: 30px;
   }

   .button {
    width: 15px;
   }

   .content{
    padding: 10px;
    margin-bottom: 15px;
   }
   
    .about-collapse-title,.accomodation-collapse-title {
        font-size: 13px;
        
    }

    .about-collapse-content , .accomodation-collapse-content {
        font-size: $x-small-font-size;
    }

   
}