@import "../style.sass/variables.scss";
@import "../style.sass/base.scss";

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1240px;
    height: 68px;
    margin: auto;
    
}


