@import "../style.sass/variables.scss";
@import "../style.sass/base.scss";

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1240px;
    height: 68px;
    margin:auto;
    padding-top: 20px;
   
}

.logo-header{
    max-width: 210px;
    

    img{
        width: 100%;
    }
}



  





