@import "variables.scss";
@import "mixins.scss";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.section{
    margin-top: 25px;
    margin-bottom: 25px
}

p {
    @include font(500, $font-stack, 142.6%, normal);
    margin: 0;
}

li {
    list-style: none;
}

a {
    display: flex;
    @include font(500, "Montserrat", 142.6%, normal);
    font-size: 24px;
    height: 34px;
    color: $primary-color;
    text-decoration: none;
}
