
@import "variables.scss";
@import "mixins.scss";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.section{
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-top: 25px;
    margin-bottom: 25px
}

p {
    @include font(500, 142.6%, normal);
    margin: 0;
}

li {
    list-style: none;
}

a {
    display: flex;
    @include font(500, 142.6%, normal);
    height: 34px;
    color: $primary-color;
    text-decoration: none;
}


@media screen and (max-width: 851px) {

    .section{
        margin-top: 5px;
    }


}