@import "../style.sass/variables.scss";

.main-info {
    display: flex;
    justify-content: space-between;
    margin: auto;
    max-width: 1240px;
    width: 100%;
    height: auto;
}

.container-tags {
    display: flex;
    align-items: center;
    gap: 30px;
}

.tag {
    display: flex;
    align-items: center;
    width: auto;
    height: 25px;
    border-radius: 10px;
    background-color: $primary-color;
    padding-left: 20px;
    padding-right: 20px;

    p {
        font-size: $small-font-size;
        color: $secondary-color;
    }
}

.container-collapse {
    display: flex;
    gap: 100px;
    max-width: 1240px;
    width: 100%;
    margin: auto;
}

.container-description,
.container-equipment {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.right,
.left {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    gap: 15px;
}

.container-host {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 10px;

    span {
        width: min-content;
        color: $primary-color;
    }

    img {
        width: 64px;
        height: 64px;
        border-radius: 50%;
        object-fit: cover;
    }
}

li {
    font-size: $medium-font-size;
    font-weight: 400;
    line-height: 25.67px;
    color: $primary-color;
}

.title p,
h1 {
    color: $primary-color;
}

@media screen and (max-width: 851px) {
    .main-info,
    .container-collapse {
        flex-direction: column;
        gap: 0;
    }

    .main-info {
        gap: 25px;
    }

    .right {
        flex-direction: row-reverse;
        justify-content: space-between;
        align-items: center;
    }

    .container-tags {
        flex-wrap: wrap;
        gap: 10px;
    }

    .tag {
        min-height: 18px;
        border-radius: 5px;

        p {
            font-size:$xx-small-font-size;
        }
    }
    li,
    span {
        font-size: $x-small-font-size;
    }

    .container-host img {
        width: 32px;
        height: 32px;
    }

    .container-rating {
        width: 98px;
        height: 18px;

        img {
            width: 15px;
            height: 15px;
        }
    }

    .title {
        h1 {
            font-size: $medium-font-size;
        }

        p {
            font-size: $small-font-size;
        }
    }
}
