@import "../style.sass/variables.scss";

.main-info {
    display: flex;
    justify-content: space-between;
    margin: auto;
    width: 1240px;
    height: auto;
}



.tag-rating{

    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 1240px;
    height: auto;
}

.container-tags {
    display: flex;
    align-items: center;
    gap: 30px;
    
}

.tag {
    display: flex;
    align-items: center;
    width: auto;
    height: 25px;
    border-radius: 10px;
    background-color: $primary-color;
    padding-left: 20px;
    padding-right: 20px;

    p {
        font-size: 14px;
        color: $secondary-color;
    }
}

.info {
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: 1240px;
    height: auto;
    margin: auto;
}

.container-collapse {
    display: flex;
    gap: 100px;
    width: auto;
}

.container-description,
.container-equipment {
    display: flex;
    flex-direction: column;
    width: 615px;
}

.host {
    display: flex;
    align-items: center;
    gap: 10px;

    span {
        width: min-content;
    }

    img {
        width: 64px;
        height: 64px;
        border-radius: 50%;
        object-fit: cover;
    }
}


li{
    font-size: 18px;
    font-weight: 400;
    font-family: 'Montserrat';
    line-height:25.67px;
    color: $primary-color;
}